@font-face {
  font-family: 'picto';
  src: url('../font/picto.eot?91607964');
  src: url('../font/picto.eot?91607964#iefix') format('embedded-opentype'),
  url('../font/picto.woff2?91607964') format('woff2'),
  url('../font/picto.woff?91607964') format('woff'),
  url('../font/picto.ttf?91607964') format('truetype'),
  url('../font/picto.svg?91607964#picto') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "picto";
  font-style: normal;
  font-weight: normal;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;

  font-variant: normal;
  text-transform: none;

  line-height: 1em;

  margin-left: .2em;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before { content: '\e800'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-mail:before { content: '\f0e0'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */

@font-face {
  font-family: 'quicksandregular';
  src: url('../font/quicksand-regular-webfont.eot');
  src: url('../font/quicksand-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../font/quicksand-regular-webfont.woff2') format('woff2'),
  url('../font/quicksand-regular-webfont.woff') format('woff'),
  url('../font/quicksand-regular-webfont.ttf') format('truetype'),
  url('../font/quicksand-regular-webfont.svg#quicksandregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  font-family: "Times New Roman", serif;
  background: linear-gradient(rgba(41,41,41), rgba(18,117,120), rgba(41,41,41)) no-repeat;
  min-height: 100vh;
}

p, li {
  font-size: 18px;
  line-height: 1.8;
}

ol, ul {
  list-style: none;
}

.main-b {
  display: flex;
  flex-direction: column;
  background: linear-gradient(#494949, #202020) no-repeat;
  width: 90%;
  border-radius: 20px;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #951ccd88;
}

.main-b-inv {
  background: linear-gradient(#202020, #494949) no-repeat;
}

.titre-section {
  font-size: 40px;
  font-family: 'quicksandregular', sans-serif;
  padding-top: 1rem;
}

.text-light {
  color: #eee;
}

.text-start {
  text-align: start;
}

/* ====== FONT ====== */
.quick-s {
  font-size: 60px;
  font-family: quicksandregular, sans-serif;
  line-height: 1;
}
.quick-s-2 {
  font-size: 20px;
  font-family: 'quicksandregular', sans-serif;
  line-height: 1;
}
.quick-s-3 {
  font-size: 18px;
  line-height: 1;
}

/* ====== MEDIA ====== */
@media screen and (max-width: 1400px) {
  /* ====== MENU ====== */
  /* ====== MAIN HEADER ====== */
  .sr-media {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

  .rond {
    width: 60px;
    min-width: 60px;
    height: 60px;
  }

  #social a::before {
    font-size: 24px;
  }

  /* ====== MAIN NAV ====== */
  #main-nav a {
    font-size: 13px;
  }

  /* ====== MAIN CONTENT ======= */
  /* ====== INTRO ====== */
  #CV {
    width: 25%;
  }

  .video-projets2 {
    flex-direction: column;
    align-items: center;
  }

  .download-projets {
    width: 70%;
  }
}

@media screen and (max-width: 768px) {
  p, li {
    font-size: 16px;
    line-height: 1.4;
  }
  /* ====== MENU ====== */
  /* ====== MAIN HEADER ====== */
  #main-header {
    width: 100%;
    border-radius: 0 0 50px 50px;
    padding: 0;
  }

  .rond {
    width: 50px;
    min-width: 50px;
    height: 50px;
  }

  #social a::before {
    font-size: 20px;
  }

  /* ====== MAIN NAV ====== */
  #main-nav a {
    font-size: 12px;
  }

  /* ====== MAIN CONTENT ======= */

  /* ====== INTRO ====== */
  #CV {
    width: 25%;
  }

  /* ====== D-C ======= */
  #D-C {
    flex-direction: column;
  }

  #dip {
    width: 90%;
  }

  #cert {
    width: 90%;
  }

  /* ====== COMPETENCES ======= */

  .comp {
    flex-direction: column;
  }

  #soft {
    width: 80%;
  }

  #hard {
    width: 80%;
  }

  /* ====== PROJETS ======= */

  .projet-nom {
    flex-direction: column;
  }

  .projet-nom-b {
    width: 90%;
    margin: 10px auto;
  }

  .download-projets {
    margin-bottom: 5px;
    min-width: 0;
  }

  /* ====== GRID ======*/
  .grid {
    grid-template-columns: repeat(2,1fr);
  }

  .box2 {
    border-top: 1px solid #ffffff;
  }

  .front {
    grid-column: 1/3;
  }

  .back {
    grid-column: 1/3;
    grid-row: 4/5;
  }

  .SGBD {
    grid-column: 1/3;
    grid-row: 7/8;
  }

  .box {
    height: 100px;
    padding: 10px;
  }

  .one {
    grid-column: 1/2;
  }

  .two {
    grid-column: 2/3;
  }

  .three {
    grid-column: 1/3;
  }

  .four {
    grid-column: 1/3;
    grid-row: 8/9;
  }

  .five {
    grid-column: 1/3;
    grid-row: 2/3;
  }

  .six {
    grid-column: 1/2;
  }

  .seven {
    grid-column: 2/3;
  }

  /* ====== MAIN FOOTER ====== */
  .foot-b {
    width: 75%;
  }
}

@media screen and (max-width: 500px) {
  .sr-rond {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

  #main-nav ul {
    padding: 0;
  }

  #social {
    padding: 0;
  }

  #CV {
    width: 50%;
  }
}