#D-C {
    display: flex;
    scroll-margin-top: 130px;
}

#D-C h2 {
    padding-top: 1rem;
}

#dip {
    min-width: 30%;
    color: #ffffff;
}

#dip p {
    padding: 0 2rem;
}

#dip li {
    list-style: inside;
    padding: 0 1rem;
}

#cert {
    min-width: 30%;
    color: #ffffff;
}

#cert p {
    padding: 0 2rem;
}

@media screen and (min-width: 768px) {
    #dip, #cert {
        width: 30%;
    }
}