#projets {
    color: #eee;
    scroll-margin-top: 140px;
}

#projets ul {
    padding: 2rem;
}

.projet-nom {
    display: flex;
    flex-wrap: wrap;
}

.projet-nom-b {
    width: 90%;
}

.projet-nom li {
    list-style:inside ;
}

.video-projets {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 90%;
    border-radius: 20px;
    margin: 20px auto;
    text-align: center;
}

.video-projets2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.download-projets {
    display: flex;
    justify-content: center;
    background-color: #7517a1;
    width: 40%;
    min-width: 200px;
    text-align: center;
    font-size: 15px;
    margin: 10px 5px;
    border-radius: 50px;
}

#DnD, #RPG {
    scroll-margin-top: 102px;
}

.download-projets:hover {
    background-color: #521071;
    color: #ffffff;
}

.download-projets a {
    color: #ffffff;
    text-decoration: none;
}

.message {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 11px;
    margin: 0 auto;
}

.slidePreProj {
    margin: 5px auto;
    animation: 0.5s ease-in slideOutLeft;
    position: absolute;
    transform: translateX(-10000px);
}
.slideSuiProj {
    margin: 5px auto;
    animation: 0.5s ease-in slideOutRightProj;
    position: absolute;
    right: 4%;
    bottom: 4%;
    transform: translateY(-10000px);
}


.slideOutLeft {
    animation: 0.5s ease-in slideOutLeft;
}

.SlideLeftProj {
    animation: 0.5s ease-in slideLeftProj;
}

.SlideRightProj {
    animation: 0.5s ease-in slideRightProj;
}

@keyframes slideLeftProj {
    from {
        opacity: 0;
        transition: 0.5s;
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideRightProj {
    from {
        opacity: 0;
        transition: 0.5s;
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes slideOutLeft {
    from {
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transition: 0.5s;
        transform: translateX(-100%);
    }
}

@keyframes slideOutRightProj {
    from {
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transition: 0.5s;
        transform: translateY(100%);
    }
}

.slideShowProj {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}

@media screen and (min-width: 1400px) {
    .video-projets2 {
        flex-direction: row;
    }
}