#main-content {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.slidePre {
    min-width: 90%;
    margin: 5px auto;
    animation: 0.5s ease-in slideOutLeft;
    position: absolute;
    transform: translateX(-10000px);
}
.slideSui {
    min-width: 90%;
    margin: 5px auto;
    animation: 0.5s ease-in slideOutRight;
    position: absolute;
    right: 4%;
    bottom: 4%;
    z-index: -10;
    transform: translateY(-10000px);
}

.slideNone {
    display: none;
}

.SlideLeft {
    animation: 0.5s ease-in slideLeft;
}

.SlideRight {
    animation: 0.5s ease-in slideRight;
}

@keyframes slideLeft {
    from {
        opacity: 0;
        transition: 0.5s;
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideRight {
    from {
        opacity: 0;
        transition: 0.5s;
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideOutRight {
    from {
        transform: translateX(0);
    }
    to {
        z-index: -10;
        opacity: 0;
        transition: 0.5s;
        transform: translateX(100%);
    }
}

.slideShow {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}

.btn {
    color: #000;
    background: linear-gradient(150grad, #aaa, #444);
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
}
.btnDown {
    color: #555;
    background: linear-gradient(150grad, #ddd, #777);
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
}